@import '../../assets/styles/media';
.exit{

width: 26px;
height: 26px;
margin-left: 5px;
}
.container{
    display: flex;
        align-items: center;
}
 .avatar{
    display: none;
 }

.name{
font-family: 'Dancing Script';
font-size: 24px;
color: #545454;
}